<h1>Editar Produtos</h1>
<form method="POST" action="/admin/produtos">
  <% conteudo.forEach(p => { %>
    <fieldset>
      <legend>Produto ID <%= p.id %></legend>
      <label>Título</label><br>
      <input type="text" name="<%= p.id %>[titulo]" value="<%= p.titulo %>"><br>
      <label>Preço</label><br>
      <input type="text" name="<%= p.id %>[preco]" value="<%= p.preco %>"><br>
    </fieldset>
  <% }) %>
  <button type="submit">Salvar</button>
</form>
