<h2>Nossos Produtos</h2>

<div class="produtos-container">
  {{#each conteudo}}
    <div class="produto-card">
      <div class="produto-imagem">
        <img src="{{this.imagem}}" alt="{{this.titulo}}" />
      </div>
      <h3>{{this.titulo}}</h3>
      <h4>{{this.preco}}</h4>
      <p>{{this.descricao}}</p>
    </div>
  {{/each}}
</div>